/*
   CSS Colors:
     Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.
*/



/*=================================== CSS Background Color ========================================*/
    /*
       We can set the background color for HTML elements:
       
       Example:
           <h1 style="background-color:DodgerBlue;"> Hello World </h1>
           <p style="background-color:Tomato;"> Md. Najmul Ovi </p>
    */
/*================================================================================================*/






/*=================================== CSS Text Color ========================================*/
    /*
       We can set the color of text:

       Example:
           <h1 style="color:black;"> Hello World </h1>
           <p style="color:green;"> Md. Najmul Ovi </p>
           <p style="color:yellow;"> I Live in Dhaka </p>
    */
/*================================================================================================*/




/*=================================== CSS Border Color ========================================*/
    /*
       We can set the color of borders:

       Example:
            <h1 style="border:2px solid blue;"> Hello World </h1>
            <h1 style="border:2px solid green;"> Hello World </h1>
            <h1 style="border:2px solid red;"> Hello World </h1>
    */
/*================================================================================================*/




/*=================================== CSS Color Values ========================================*/
    /*
       In CSS, colors can also be specified using RGB values, HEX values, HSL values, RGBA values, and HSLA values:

       Same as color name "Tomato":
            rgb(255, 99, 71)
            #ff6347
            hsl(9, 100%, 64%)
       
       Same as color name "Tomato", but 50% transparent:
            rgba(255, 99, 71, 0.5)
            hsla(9, 100%, 64%, 0.5)

       Example:
            <h1 style="background-color:rgb(255, 99, 71);">...</h1>
            <h1 style="background-color:#ff6347;">...</h1>
            <h1 style="background-color:hsl(9, 100%, 64%);">...</h1>

            <h1 style="background-color:rgba(255, 99, 71, 0.5);">...</h1>
            <h1 style="background-color:hsla(9, 100%, 64%, 0.5);">...</h1>
    */
/*================================================================================================*/
